<div class="modal-holder">
  <div class="modal-wrapper">
    <div class="modal">
      <div class="modal__header">
        <button type="button" class="modal__close" ng-click="vm.closeModal()">
          <span class="modal__icon">+</span>
        </button>
        <div class="modal__title">
          Constructor
        </div>
      </div>
      <div  class="modal__body">
        <ul class="modal__sidebar">
          <li class="modal__sidebar-item" ng-class="{active: vm.isActive('style')}"  ng-click="vm.activated('style')">Style
            <div class="options-board">
              <div class="option" ng-repeat="style in vm.styles" ng-class="{'checked': vm.model.style.type == style.type}" ng-click="vm.model.style = style">
                <img ng-src="{{style.image}}" alt="" class="option__img">
                {{style.type}}
              </div>
            </div>
          </li>
          <li class="modal__sidebar-item" ng-class="{active: vm.isActive('textile')}"  ng-click="vm.activated('textile')">Textile
            <div class="options-board">
              <div class="option" ng-repeat="textile in vm.textiles" ng-class="{checked: vm.model.textile.title == textile.title}">
                <img ng-src="{{textile.image}}" alt="" class="option__img">
              </div>
            </div>
          </li>
          <li class="modal__sidebar-item" ng-class="{active: vm.isActive('decolette')}"  ng-click="vm.activated('decolette')">Decollete
            <div class="options-board">
              <div class="option" ng-repeat="decollete in vm.decolletes" ng-class="{checked: vm.model.decollete.title == decollete.title}">
                <img ng-src="{{decollete.image}}" alt="" class="option__img">
              </div>
            </div>
          </li>
          <li class="modal__sidebar-item" ng-class="{active: vm.isActive('skirt')}"  ng-click="vm.activated('skirt')"  ng-hide="vm.model.style.type == 'straight'">Skirt
            <div class="options-board">
              <div class="option" ng-repeat="skirt in vm.skirts" ng-class="{checked: vm.model.skirt.title == skirt.title}">
                <img ng-src="{{skirt.image}}" alt="" class="option__img">
              </div>
            </div>
          </li>
          <li class="modal__sidebar-item" ng-class="{active: vm.isActive('skirt')}"  ng-click="vm.activated('skirt')" ng-show="vm.model.style.type == 'straight'">Skirt's length
            <div class="options-board">
              <div class="option"
                ng-repeat="straightType in ::vm.straightTypes"
                ng-class="{checked: vm.model.straightType.id === straightType.id}"
                ng-click="vm.model.straightType = straightType">
                <img ng-src="{{::straightType.imagePreview}}" alt="" class="option__img">
              </div>
            </div>
          </li>
          <li class="modal__sidebar-item" ng-class="{active: vm.isActive('sleeve')}"  ng-click="vm.activated('sleeve')">Sleeve
            <div class="options-board">
              <div class="option" ng-repeat="sleeve in vm.sleeves">
                <img ng-src="{{sleeve.image}}" alt="" class="option__img">
              </div>
            </div>
          </li>
        </ul>
        <div class="modal__content">
          <div class="model-overlay">
            <div class="model">
              <div class="model__decolette">
                <img src="/src/images/model/straight_decollete_jewel_white.png" alt="model__decolette" class="model__decolette-img">
              </div>
              <div class="model__skirt">
                <img ng-src="{{vm.model.straightType.image}}" alt="model__skirt" class="model__skirt-img">
              </div>
              <div class="model__sleeve"></div>
            </div>
          </div>
          <div class="model-contrller">
            <ul class="tabs">
              <li class="tabs__item">I know my size</li>
              <li class="tabs__item">I don't know my size</li>
            </ul>
            <div class="tabs-content">
              <div class="tabs-content__item"></div>
              <div class="tabs-content__item"></div>
            </div>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>
