<div class="modal-holder">
  <div class="modal-wrapper">
    <div class="modal">
      <div class="modal__header">
        <button type="button" class="modal__close" ng-click="vm.closeModal()">
          <span class="modal__icon">+</span>
        </button>
        <div class="modal__title">
          Constructor
        </div>
      </div>
      <div  class="modal__body">
        <ul class="modal__sidebar">
          <li class="modal__sidebar-item" ng-class="{active: vm.isActive('style')}"  ng-click="vm.activated('style')">Style
            <div class="options-board">
              <div class="option" ng-repeat="style in vm.styles">
                <img ng-src="{{style.image}}" alt="" class="option__img">
              </div>
            </div>
          </li>
          <li class="modal__sidebar-item" ng-class="{active: vm.isActive('textile')}"  ng-click="vm.activated('textile')">Textile
            <div class="options-board">
              <div class="option" ng-repeat="textile in vm.textiles">
                <img ng-src="{{textile.image}}" alt="" class="option__img">
              </div>
            </div>
          </li>
          <li class="modal__sidebar-item" ng-class="{active: vm.isActive('decolette')}"  ng-click="vm.activated('decolette')">Decollete</li>
          <li class="modal__sidebar-item" ng-class="{active: vm.isActive('skirt')}"  ng-click="vm.activated('skirt')">Skirt</li>
          <li class="modal__sidebar-item" ng-class="{active: vm.isActive('sleeve')}"  ng-click="vm.activated('sleeve')">Sleeve</li>
        </ul>
        <div class="modal__content">
          <div class="model-overlay">
            <div class="model"></div>
          </div>
          <div class="model-contrller">
            <ul class="tabs">
              <li class="tabs__item">I know my size</li>
              <li class="tabs__item">I don't know my size</li>
            </ul>
            <div class="tabs-content">
              <div class="tabs-content__item"></div>
              <div class="tabs-content__item"></div>
            </div>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>