$color_black = #000
$color_white = #fff
$color_lightyellow = #edd49d
$color_yellow = #e8bc5e
$color_darkyellow = #e6bd64
$color_darkgrey = #262626
$color_grey = #808080
$color_lightfray = #e5e5e5
	
$min_width = 750px
$max_width = 1280px
$font_primary = 'Futura PT Book'
$font_additional1_1 = 'FuturaLight'