.button
	display: inline-block
	margin-bottom: 0
	font-weight: 400
	text-align: center
	vertical-align: middle
	cursor: pointer
	background-image: none
	background-color: $color_yellow
	color: $color_white 
	padding: 8px 40px
	font-size: 14px
	font-family: $font_primary
	white-space: nowrap
	user-select: none
	outline: none
	border: none
	text-transform: uppercase
	
	&:hover
		background-color: $color_lightyellow
		
	&:active
		background-color: $color_darkyellow
		