body.open
	position: fixed
	.modal-holder
		display: block
		
.modal-holder
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	background: rgba(0, 0, 0, 0.4)
	display: none
	
.modal
	width: 996px
	margin: 80px auto
	background-color: $color_white
	overflow-y: auto
	overflow-x: hidden
	
.modal-body
	background-color: $color_white