@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/FuturaPTW01Book.eot');
    src: url('../fonts/FuturaPTW01Book.eot') format('embedded-opentype'),
         url('../fonts/FuturaPTW01Book.woff2') format('woff2'),
         url('../fonts/FuturaPTW01Book.woff') format('woff'),
         url('../fonts/FuturaPTW01Book.ttf') format('truetype'),
         url('../fonts/FuturaPTW01Book.svg#FuturaPTW01Book') format('svg');
}
@font-face {
    font-family: 'FuturaPTW01Demi';
    src: url('../fonts/FuturaPTW01Demi.eot');
    src: url('../fonts/FuturaPTW01Demi.eot') format('embedded-opentype'),
         url('../fonts/FuturaPTW01Demi.woff2') format('woff2'),
         url('../fonts/FuturaPTW01Demi.woff') format('woff'),
         url('../fonts/FuturaPTW01Demi.ttf') format('truetype'),
         url('../fonts/FuturaPTW01Demi.svg#FuturaPTW01Demi') format('svg');
}
@font-face {
    font-family: 'FuturaLight';
    src: url('../fonts/FuturaLight.eot');
    src: url('../fonts/FuturaLight.eot') format('embedded-opentype'),
         url('../fonts/FuturaLight.woff2') format('woff2'),
         url('../fonts/FuturaLight.woff') format('woff'),
         url('../fonts/FuturaLight.ttf') format('truetype'),
         url('../fonts/FuturaLight.svg#FuturaLight') format('svg');
}

@font-face {
    font-family: 'FuturaPTW01Medium';
    src: url('../fonts/FuturaPTW01Medium.eot');
    src: url('../fonts/FuturaPTW01Medium.eot') format('embedded-opentype'),
         url('../fonts/FuturaPTW01Medium.woff2') format('woff2'),
         url('../fonts/FuturaPTW01Medium.woff') format('woff'),
         url('../fonts/FuturaPTW01Medium.ttf') format('truetype'),
         url('../fonts/FuturaPTW01Medium.svg#FuturaPTW01Medium') format('svg');
}
