.footer
	padding: 0 56px 
	font-family: $font_additional1_1
	font-siZe: 18px
	text-align: right
	position: relative
	.container
		border-top: 1px solid $color_lightfray
		padding: 24px 0
	
.footer__text
	display: inline-block
	
.header__logo
	position: absolute
	top: 50%
	left: 24px
	transform: translateY(-50%)