.gallery
	margin: 56px 0
	display: block
.grid
	&:after
		content: ''
		display: block
		clear: both

.grid-sizer,
.grid-item
	width: 20%

.grid-item
	float: left
	border: 4px solid transparent

.grid-item img
	display: block
	max-width: 100%
